<section id="home" class="intro-section">
  <div class="container">
    <div class="row align-item-center text-white">
      <!-- START THE CONTENT FOR THE INTRO-->
      <div class="col-md-6 intros">
        <h1 class="display-2">
          <span class="display-2--intro">Hey!, I'm AJAAJAA Mohamed</span>
          <span class="display-2--description lh-base">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque, iure facilis unde
            architecto dicta earum provident numquam odit nobis id eveniet sit. Accusamus suscipit praesentium fuga
            eaque dignissimos. Repellat, dolorem!
          </span>
        </h1>
        <button type="button" class="rounded-pill btn-rounded"> Get in touch
          <fa-icon [icon]="['fas','arrow-right']">
          </fa-icon>
        </button>
      </div>

      <!-- START THE CONTENT FOR THE VIDEO-->
      <div class="col-md-6 intros text-end">
        <div class="video-box">
          <img src="assets/images/arts/intro-section.png" alt="video illustration">
        <a href="#" class="position-absolute top-50 start-50 translate-middle glightbox" >
          <span>
            <fa-icon [icon]="['fas','play-circle']" >
            </fa-icon>
          </span>

          <span class="border-animation border-animation--border-1"></span>
          <span class="border-animation border-animation--border-2"></span>
        </a>
        </div>
      </div>
    </div>
  </div>

  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#ffffff" fill-opacity="1"
        d="M0,96L48,80C96,64,192,32,288,64C384,96,480,192,576,218.7C672,245,768,203,864,160C960,117,1056,75,1152,53.3C1248,32,1344,32,1392,32L1440,32L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
    </path>
</svg>
</section>
