@use '../../../theme/custom' as *;


#wave {
    height: 10rem;
}

.services {
    position: relative;
    padding: 1rem 0;

    &__content {
        padding: 1rem;
        margin-bottom: 0rem;

        @include media-breakpoint-up(lg) {
            margin-top: 5rem;

        }
        p {
            font-size: 0.8rem;
            @include media-breakpoint-up(lg) {
                font-size: 1rem;
            }
        }


        fa-icon {
            font-size: 1.5rem;
            color: $primary;
        }

        @include media-breakpoint-up(lg) {
            margin-top: 2.5rem;
        }
    }

    &__pic {
        max-width: 100%;
    }
}