<section class="get-started" id="get-started">
    <div class="container">
        <div id="wave">

        </div>
        <div class="row text-center">
            <h1 class="display-3 fw-bold text-capitalize">
                Get started
            </h1>
            <div class="heading-line"></div>
            <p  class="lh-lg">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis provident earum consequatur temporibus, quo architecto dolor, veritatis, tenetur maxime esse magni hic vero quasi mollitia! Itaque magni vitae aut quo!
            </p>
        </div>

        <div class="row text-white">
            <div class="col-12 col-md-6 gradient shadow p-3">
                <div class="cta-info w-100">
                    <h4 class="display-4 fw-bold">100% Satisfaction Guaranteed</h4>
                    <p class="lh-lg">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur consequatur molestiae molestias autem blanditiis inventore distinctio? Consectetur incidunt itaque laudantium at a aut, dignissimos esse fuga aspernatur est maxime voluptate.
                    </p>
                    <h3 class="display-3--brief">What will be the next step?</h3>
                    <ul class="cta-info__list">
                        <li>We'll prepare the proposal</li>
                        <li>We'll discuss it together</li>
                        <li>Let's start the discussion</li>
                    </ul>
                </div>
            </div>

            <div class="col-12 col-md-6 bg-white shadow p-3">
                <div class="form w-100 pb-2">
                    <h4 class="display-3--title mb-5">Start your project</h4>

                    <form action="#" class="row">
                        <div class="mb-3 col-lg-6 col-md-6">
                            <input type="text" placeholder="First Name" id="inputFirstName"
                            class="shadow form-control-lg form-control">
                        </div>

                        <div class="mb-3 col-lg-6 col-md-6">
                            <input type="text" placeholder="Last Name" id="inputLastName"
                                class="shadow form-control-lg form-control">
                        </div>
                        <div class="mb-3 col-lg-12">
                            <input type="email" placeholder="Email" id="inputEmail"
                                class="shadow form-control-lg form-control">
                        </div>

                        <div class="mb-3 col-lg-12">
                            <textarea placeholder="message" name="message" id="message" rows="8"
                                class="shadow form-control-lg form-control"></textarea>
                        </div>
                        <div class="text-center d-grid mt-1">
                            <button type="button" class="btn btn-primary rounded-pill pt-3 pb-3">
                                Submit
                                <fa-icon [icon]="['fas','paper-plane']">
                                </fa-icon>
                            </button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

</section>