<nav class="navbar navbar-expand-lg navbar-dark menu shadow fixed-top">

  <div class="container">
    <a href="#" class="navbar-brand">
      <img src="assets/images/logo.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" (click)="collapse.toggle()"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="navbarNav"  aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" #collapse="ngCollapse" [(ngCollapse)]="isCollapsed">
      <!-- your navs bound to current route fragments -->
      <ul ngbNav [activeId]="route.fragment | async" class="navbar-nav">
        <li class="nav-item" [ngbNavItem]="link.fragment" *ngFor="let link of links">
          <a ngbNavLink [routerLink]="link.fragment" class="nav-link">{{ link.title }}</a>
        </li>
      </ul>

      <button type="button" class="rounded-pill btn-rounded">+1 75828528
    <span>
     <fa-icon [icon]="['fas','phone-alt']" >
     </fa-icon>
    </span>
      </button>
    </div>
  </div>
</nav>


<!-- and an actual outlet elsewhere -->
<router-outlet></router-outlet>
